<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>De Grønne Kokke</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="style.css" type="text/css" rel="stylesheet">

</head>
<body>
	<div class="logo">
		<img src="de-grønne.png" alt="logo" style="width: 120px; height: 120px;">
	</div>
<div class="container">
  <div class="row">
    <div class="col-sm vr">
      <a href="/index"><p class="header-text">Forside</p></a>
    </div>
    <div class="col-sm vr">
      <a href="/about"><p class="header-text">Om os</p></a>
    </div>
    <div class="col-sm vr">
      <a href="/where"><p class="header-text">Hvor er vi?</p></a>
    </div>
    <div class="col-sm vr">
      <a class="active" href="/contact"><p class="header-text">Kontakt</p></a>
    </div>
  </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <form action ="/formPost" method="post">
          <input type="text" id="name" name="name" placeholder="Indtast navn.." required>
        
          <input type="text" id="addr" name="addr" placeholder="Indtast adresse.." required>
        
          <input type="text" id="tlfnr" name="tlfnr" placeholder="Indtast telefonnummer.." required>
        
          <input type="email" id="email" name="email" placeholder="Indtast email.." required>
        
      </div>
      <div class="col-sm">
            <textarea id="text" name="text" placeholder="Ved du, at allerede nu, at du har varer som du ønsker vi bruger? Så skriv dem her.." style="height:225px"></textarea>
            <input type="submit" value="Send" >
            </form>
      </div>
    </div>
  </div>




</body>
</html>