<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>De Grønne Kokke</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="style.css" type="text/css" rel="stylesheet">
 
</head>
<body>
  <div class="logo">
    <img src="logo.png" alt="logo" style="width: 50px; height: 50px;">
  </div>
<div class="container">
  <div class="row">
    <div class="col-sm vr">
      <a class="active" href="/index"><p class="header-text">Forside</p></a>
    </div>
    <div class="col-sm vr">
      <a href="/about"><p class="header-text">Om os</p></a>
    </div>
    <div class="col-sm vr">
      <a href="/where"><p class="header-text">Hvor er vi?</p></a>
    </div>
    <div class="col-sm vr">
      <a href="/contact"><p class="header-text">Kontakt</p></a>
    </div>
  </div>
 
  <div class="container">
    <div class="row">
      <div class="col-sm frontpageTopDiv">
        <p class="bodyText">Alle danske husholdninger havde et madspild på 261.000 ton i 2011/2012 - og dette er faldet til 247.000 ton i 2017. Samlet smider vi i Danmark hvert år over 700.000 ton mad ud, som kunne være spist. Husholdningernes madspild udgør 260.000 ton pr. år.</p>
      </div>
 
      <div class="col-sm frontpageTopPic">
        <img src="banan.png" alt="food" style="width: 280px; height: 330px">

      </div>
    </div>
  </div>
 
    <div class="container">
    <div class="row">
 
       <div class="col-sm frontpageBotPic">
         <img src="pickle.png" alt="food" style="width: 280px; height: 350px">
      </div>
 
      <div class="col-sm frontpageBotDiv">
        <p class="bodyText">Samlet smider vi i Danmark over 700.000 ton mad ud årligt. 77% af den danske befolkning er overvejende enige i, at de bliver mere og mere interesserede i, at minimere madspildet i husstanden - samt 44% har interesse i at minimere madspild for at hjælpe klimaet. Dette taget i betragtning, er det foruroligende at husstandende alligevel udgør 247.000 tons mad. Derudover udgør detailhandlen 163.000 tons. Dette har vi interesse i at afhjælpe hos <nobr class="green"> De Grønne Kokke</nobr>!</p>
      </div>
    </div>
  </div>
 
 
</div>
</body>
</html>